extends layout

block content
  div(class='row')
    div(class='col-sm-6')
      div(class='coffee-map')
        p Loading map...
    div(class='col-sm-6')
      h1 Percolist
      div(class='coffee-list')
        p Loading shops...

    script(id='coffee-table-template', type='x-tmpl-mustache')
      table(class='table table-striped table-hover')
        thead
          tr
            th Name
            th Visited
        tbody
          | {{#locations}}
          tr(data-id='{{id}}')
            td {{name}}
            td
              | {{^visited}}
              button(type='button', class='btn btn-primary btn-check-in') Check In
              | {{/visited}}
              | {{#visited}}
              {{visited}}
              | {{/visited}}
          | {{/locations}}

    script(id='coffee-map-template', type='x-tmpl-mustache')
      google-map(zoom='15', latitude='{{latitude}}', longitude='{{longitude}}')
        | {{#locations}}
        google-map-marker(latitude='{{latitude}}', longitude='{{longitude}}', id='{{id}}')
        | {{/locations}}
