doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1')

    title Percolist

    script(src='bower_components/webcomponentsjs/webcomponents-lite.min.js')

    link(rel='import', href='bower_components/google-map/google-map.html')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    div(class='container')
      block content

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/mustache.js/mustache.min.js')
    script(src='bower_components/geoid/geoid.min.js')
    script(src='/javascripts/main.js')
